<section class="bg-cover bg-center h-[700px] bg-no-repeat" style="background-image: url('/assets/footer1.jpg');" id="contact">
    <div class="container mx-auto px-4 py-24">
      <div class="max-w-2xl mt-10 mx-auto">
        <h2 class="text-5xl font-semibold text-center mb-16">Contact Us</h2> 
        <div class="grid grid-cols-1 md:grid-cols-3 gap-16"> 
          <div class="col-span-1">
            <h5 class="text-2xl font-semibold">Find Us</h5> 
            <p class="text-xl mt-4">121 Rock Sreet, 21 Avenue, New York, NY 92103-9000</p> 
          </div>
          <div class="col-span-1">
            <h5 class="text-2xl font-semibold">Hours</h5> 
            <p class="text-xl mt-4">
              <span class="font-semibold">Monday – Saturday</span><br>
              9am – 7pm<br>
              <span class="font-semibold">Sunday</span><br>
              10am – 6pm
            </p>
          </div>
          <div class="col-span-1">
            <h5 class="text-2xl font-semibold">Call Us</h5> 
            <p class="text-xl mt-4">
              <a href="tel:+1234567891" class="block">1 (234) 567-891</a>
              <a href="tel:+2345333897" class="block">2 (345) 333-897</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  