


<header class="bg-white">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Bakery</span>
          <img class="h-40 w-auto" lazyLoad="/assets/logo.jpg" alt="">
        </a>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="/" class="text-2xl font-semibold leading-6 text-yellow-700">Home</a>
        <a href="#" class="text-2xl font-semibold leading-6 text-yellow-700" (click)="scrollToBlock4()">Selection</a>
        <a href="#" class="text-2xl font-semibold leading-6 text-yellow-700" (click)="scrollToContact()">Contact</a>
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <!-- Can add something here -->
      </div>
    </nav>
  </header>
  